<div id="about_our_school_content" class="content">
  <div class="content_main">
    <h1>About Our School</h1>
    <p class="quote">
      &ldquo;Your imagination is your preview of life's coming attractions.&rdquo;
    </p>
    <p class="quote_creds creds_who">Albert Einstein</p>
  
    <p>
      Charlestown Playhouse (affectionately known as Playschool) is located in Phoenixville, Pennsylvania, in the western suburbs of Philadelphia, approximately seven miles from Valley Forge National Park. The building and grounds are in a pleasant country setting on 2½ wooded acres adjacent to the Broadwater Farm property. Our expansive outdoor play area allows ample opportunity for playing and exploring nature.
    </p>
    <p>
      Charlestown Playhouse provides a nurturing and stimulating environment where children become creative, independent, self expressive and self confident individuals. Our state licensed program is aligned with the PA Early Learning Stand
  ards for Early Childhood Education.
    </p>
  
    <p>
      We offer an exceptional learning environment that supports the whole child’s development and places the needs of the children first by providing a loving, caring, and supportive environment in a developmentally appropriate setting.  Our teachers help each child develop positive self-concepts and to embrace the diversity among us all.  The school is committed to support a fully inclusive environment for all children.  At Playschool each child feels respected, loved, and secure; all the ingredients necessary to be “ready to learn”.  Each child leaves our school ready for the new challenges and opportunities of primary education and beyond.
    </p>
  
    <p>
      <span class="strong">Our Teachers:</span>
      <ul>
        <li>Celebrate each child’s unique strengths and individuality</li>
        <li>Recognize and support each child’s emotional needs</li>
        <li>Support the child’s right to make independent choices and move freely among the various activities offered</li>
        <li>Respect and act on the child’s ideas</li>
        <li>Encourage children to become critical thinkers</li>
        <li>Cultivate the children’s imagination and encourage them to explore their environment</li>
      </ul>
    </p>
  
    <p>   
      <span class="strong">Our Goals:</span><br>
      The goals of our developmentally appropriate co-operative program are the following:
      <ul>
        <li>To have children learn through the experience of involvement with other people and their environment.</li>
        <li>To foster social development through learning to negotiate, take turns, and to make friends.</li>
        <li>To have children learn skills in problem solving and develop critical thinking skills.</li>
        <li>To provide a positive experience as a basis for future education and learning.</li>
        <li>To support families in their parenting and help them to learn to participate in their child’s educational experiences.</li>
      </ul>
    </p>
  
    <p><a href="#philosophy" class="local_link">Learn More...</a></p>
  
  </div>
</div>
