<div id="about_cph_sale_content" class="content">
  <div class="content_main">
    <h1>About Charlestown Sale</h1>
    <% if @display_winner %>
    <p class="raffle_winner">
        The winner of the raffle provided by Resellers Consignment Gallery
        is ticket <span>#<%=  @winning_ticket %></span>
        <br />
        Congratulations!
    </p>
    
    <% end %>

    <p>
  The Charlestown Sale is a multi-family consignment sale held for the benefit of Charlestown Playhouse, a non-profit parent-cooperative play-based preschool and kindergarten.  The Sale is held twice each year, once in the spring and once in the fall, and is organized and run by a committee of volunteers with the help of parents from the school.  All workers at the Sale are volunteers.
    </p>
  
    <p>
  The general public is encouraged to consign or donate items to the Charlestown Sale.  Donations are accepted at the school at 2478 Charlestown Road, Phoenixville, PA (Charlestown Township).  Consigners may bring their items for consignment directly to the Sale location at the Kimberton Firehouse Fairgrounds on the "Take-In" day listed on the <a href="#sale_calendar" class="local_link">sale calendar</a>.  If an article is sold, the owner (consigner) receives 60% of the price he has set and Charlestown Playhouse receives 40%.
    </p>
  
    <p>
  Don't forget to <a href="#salelist" class="local_link">sign up</a> for the sale email list. You'll automatically be notified of upcoming sale dates, times and other important information.
    </p>
  
    <p>
      <span class="strong">Donations:</span>
    </p>
  
    <p>
  If you are donating items, please do so well before the Sale. Donations may be brought directly to:
      <div class="address_block">
        Charlestown Playhouse<br>
        2478 Charlestown Road<br>
        Phoenixville, PA 19460
      </div>
    </p>
  
    <p>
  We sincerely appreciate your donations and support of our school, however please note that WE WILL BE VERY STRICT ABOUT WHAT WE WILL ACCEPT!  Thank you for your understanding. 
    </p>
  
    <p>
  <span class="strong">CHARLESTOWN PLAY HOUSE IS NOT RESPONSIBLE IN CASE OF LOSS OR DAMAGE OF ANY ARTICLE.  ALL SALES ARE FINAL.  NO RETURNS AND NO REFUNDS.  ALL ARTICLES ARE SOLD AS IS.</span>
    </p>
  
    <p>   
      <span class="strong">General Information:</span><br>
      We accept:
      <ul>
        <li>jewelry</li>
        <li>clothing</li>
        <li>bric-a-brac</li>
        <li>toys</li>
        <li>furniture</li>
        <li>books</li>
        <li>household items</li>
        <li>linens</li>
      </ul>
    </p>
  
    <p>
  <span class="strong">All items must be CLEAN, IN GOOD CONDITION AND IN WORKING ORDER, or they will be rejected.</span>
    </p>
  
    <p>
  <span class="strong">IF ITEMS DO NOT MEET THESE REQUIREMENTS, THEY WILL NOT BE ACCEPTED AND WE RESERVE THE RIGHT TO DISPOSE OF THEM.</span>
    </p>
  
    <p>
      <span class="section_warn">WE WILL NOT ACCEPT</span>
      <hr>
      <div class="list_block">
        <div class="list_col">
          <span class="strong">General</span>
          <ul>
            <li>out-of-season clothing</li>
            <li>adult shoes</li>
            <li>non-working appliances</li>
            <li>large appliances</li>
            <li>exercise equipment</li>
            <li>venetian blinds</li>
            <li>wigs</li>
            <li>mattresses</li>
            <li>bed pillows</li>
            <li>dried flowers</li>
            <li>stuffed animals</li>
            <li>mugs/glasses with logos</li>
            <li>bowling balls</li>
            <li>sewing machines</li>
            <li>luggage</li>
            <li>baskets</li>
            <li>hampers</li>
            <li>some books</li>
          </ul>
        </div>
        <div class="list_col">
          <span class="strong">Baby Equiptment</span>
          <ul>
            <li>bathtubs</li>
            <li>pottys</li>
            <li>diaper pails</li>
            <li>diaper genie</li>
            <li>swings</li>
            <li>car seats</li>
            <li>some cribs (see below)</li>
          </ul>
        </div>
        <div class="list_col">
          <span class="strong">Hardware</span>
          <ul>
            <li>plumbing</li>
            <li>electrical</li>
            <li>automotive</li>
            <li>tires</li>
          </ul>
        </div>
        <div class="list_col">
          <span class="strong">Cleaning</span>
          <ul>
            <li>vacuums</li>
            <li>brooms</li>
            <li>mops</li>
            <li>ironing boards</li>
          </ul>
        </div>
        <div class="list_col">
          <span class="strong">Electronics</span>
          <ul>
            <li>computers</li>
            <li>office equipment</li>
            <li>stereo equipment</li>
            <li>cassette tapes</li>
            <li>speakers</li>
            <li>fax machines</li>
            <li>copiers</li>
            <li>printers</li>
            <li>tv's</li>
            <li>vcr's</li>
            <li>VHS tapes</li>
            <li>dvd players</li>
            <li>monitors</li>
          </ul>
        </div>
      </div>
    </p>
  
  
    <p>
    <span class="strong">Note:</span> <span class="note">Cribs will NOT be accepted IF the space between the slats is more than 2-3/8 inches and/or IF there are knobs on the top corners.</span>
    </p>
  </div>
</div>
