<div id="calendar_content" class="content">
  <div class="content_main">
    <h1>Sale Calendar</h1>
    <p>
      <span class="strong">September:</span><br>
      <ul>
        <li>8, 9 Sat/Sun FALL WORK PARTY</li>
        <li>12 Wed Get-Acquainted LEAGUE MEETING 12:30PM</li>
        <li>13 Thu OPEN HOUSE 6:30-8:45PM</li>
        <li>12,13,14 Wed/Thu/Fri Pre-Conferences (Yellow, Purple, Green & new Afternoon Blue children)</li>
        <li>17 Mon CLOSED for Teacher In-Service</li>
        <li>18 Mon FIRST DAY for STUDENTS (Yello Room children follow separate schedule</li>
      </ul>
    </p>
    <p>
      <span class="strong">October:</span><br>
      <ul>
        <li>3 Wed HELPING HANDS 6:30-8PM (Required for all Classroom Helpers, All are welcome)</li>
        <li>10 Wed LEAGUE MEETING 12:30PM (All invited!)</li>
        <li>15 Mon CHARLESTOWN SALE Move-In Day</li>
        <li>28 Sun CHARLESTOWN SALE Move-Out Day</li>
      </ul>
    </p>
    <p>
      <span class="strong">November:</span><br>
      <ul>
        <li>1 Thu FAMILY FORUM EVENING 6:30-8:00PM</li>
        <li>7,8,9 Wed/Thu/Fri CLOSED FOR PARENT/TEACHER CONFERENCES</li>
        <li>14 Wed LEAGUE MEETING 12:30PM (All invited!)</li>
        <li>17 Sat RAKING PARTY 9:00AM-Noon</li>
        <li>21 Wed THANKSGIVING FEAST 10:30AM (AM and PM classes)</li>
        <li>22,23 Thu/Fri CLOSED FOR THANKSGIVING</li>
      </ul>
    </p>
    <p>
      <span class="strong">December:</span><br>
      <ul>
        <li>1 Sat HOLIDAY BAZAAR</li>
        <li>12 Wed HOLIDAY LEAGURE MEETING 12:30PM (All invited!)</li>
        <li>18 Tue WINTER VACATION BEGINS AT 3:00PM</li>
      </ul>
    </p>
    <p>CLASSROOM CLEANING PARTIES (to be scheduled by Room parents during holiday break)</p>
    <p>
      <span class="strong">January:</span><br>
      <ul>
        <li>2 Wed RETURN FROM WINTER BREAK</li>
        <li>16 Wed LEAGUE MEETING 12:30 PM (All invited!)</li>
        <li>21 Mon CLOSED FOR MARTIN LUTHER KING JR HOLIDAY</li>
        <li>24 Thu FAMILY FORUM EVENING 6:30-8:00PM</li>
      </ul>
    </p>
    <p>
      <span class="strong">February:</span><br>
      <ul>
        <li>18 Mon CLOSED FOR PRESIDENT'S DAY</li>
        <li>20 Wed LEAGUE MEETING (Time TBA - All invited!)</li>
      </ul>
    </p>
    <p>
      <span class="strong">March:</span><br>
      <ul>
        <li>1 Fri FOUNDER'S DAY</li>
        <li>6,7,8 Wed/Thu/Fri CLOSED FOR PARENT/TEACHER CONFERENCES</li>
        <li>6,7,8 Wed/Thu/Fri BOOK FAIR DURING CONFERENCES</li>
        <li>20 Wed LEAGUE MEETING 12:30PM (All invited!)</li>
        <li>22 Fri SPRING VACATION BEGINS AT 3:00PM</li>
      </ul>
    </p>
    <p>
      <span class="strong">April:</span><br>
      <ul>
        <li>1 Mon CLOSED FOR STAFF IN-SERVICE</li>
        <li>2 Tue RETURN FROM SPRING VACATION</li>
        <li>17 Wed LEAGUE MEETING/FAMILY FORUM EVENING 6:30 - 8:00 PM</li>
        <li>22 Mon TENTATIVE SALE Move-In Day</li>
      </ul>
    </p>
    <p>
      <span class="strong">May:</span><br>
      <ul>
        <li>5 Sun TENTATIVE SALE Move-Out</li>
        <li>8 Wed MAY DAY celebration 10:45 All Classes (Tentative date-weather permitting)</li>
        <li>15 Wed HONOREE LEAGUE MEETING 12:30PM</li>
        <li>18,19 Sat/Sun SPRING WORK PARTY</li>
        <li>24 Fri LAST DAY EXTENDED DAY PROGRAM</li>
        <li>27 Mon CLOSED FOR MEMORIAL DAY</li>
        <li>28 Tue JUNE CAMP BEGINS (Optional afternoon program for morning students)
      </ul>
    </p>
    <p>
      <span class="strong">June:</span><br>
      <ul>
        <li>1 Sat JUNE PARTY 2PM to 6pm</li>
        <li>5 Wed ANNUAL MEETING 7:30pm</li>
        <li>13 Thu LAST DAY OF AFTERNOON CLASS and JUNE CAMP</li>
        <li>14 Fri BLUE ROOM GRADUATION CELEBRATION 10AM</li>
        <li>14 Fri MORNING SCHOOL ENDS AT 11AM (No driveway dismissal)</li>
        <li>14 Fri NO AFTERNOON CLASSES</li>
        <li>14 Fri 11:00 FAREWELL PICNIC (All invited)</li>
        <li>17 Mon SUMMER CAMP BEGINS</li>
      </ul>
    </p>

    <p>CLASSROOM CLEANING PARTIES (to be scheduled by Room parents)</p>
  
    <p>
      <span class="strong">July:</span><br>
      <ul>
        <li>12 Fri SUMMER CAMP ENDS</li>
      </ul>
    </p>
  
    <p>
    Playschool reserves the right to amend this calendar. Revised 08/08/11
    </p>
  </div>
</div>
