<div id="classes_content" class="content">
  <div class="content_main">
    <h1>Our Classes</h1>
    <p class="quote">
      &ldquo;The only way to have a friend is to be one.&rdquo;
    </p>
    <p class="quote_creds creds_who">Ralph Waldo Emerson</a></p>
  
    <p class="tab">
      <span class="strong">Our Classes</span>
Charlestown Playhouse provides a five-day-a-week morning program for five       
classes.  In addition, we offer an Extended Care program which ends at 3:00 PM.
    </p>
  
    <p>
Children aged 2 years 7 months through kindergarten are placed into one of five classrooms: the Yellow Room, the Purple Room, the Green Room, the Orange Room,  and the Blue Room/Kindergarten.
    </p>
  
    <p>
The Playschool year runs from late September through late June. Optional summer 
camp sessions run in June and July.
    </p>
  
    <p>
  <span class="strong">Parent-Teacher Conferences</span>
Conferences are scheduled twice yearly to communicate child progress and growth.
Teachers are available throughout the year for additional parent communication  
via e-mail and meetings.
    </p>
  </div>
</div>
