<div id="contact_content" class="content">
  <div class="content_main">
    <h1>Contact Us</h1>
    <p class="quote">
      &ldquo;When we treat children's play as seriously as it deserves, we are helping them feel the joy that's to be found in the creative spirit. It's the things we play with and the people who help us play that make a great difference in our lives.&rdquo;
    </p>
    <p class="quote_creds creds_who">Fred Rogers</p>
  
    <p>
      <span class="large">
        Directors:<br>
        <span class="strong">Faith Koons and Amy Saia, Ed.D</span>
      </span>
    </p>
  
    <p>
      <span class="large">
        Email:<br>
        <span class="strong"><a mailto:"charlestown.playhouse@verizon.net">charlestown.playhouse@verizon.net</a></span>
      </span>
    </p>
  
    <p>
      <span class="large">
        Phone:<br>
        <span class="strong">610-933-2762</span>
      </span>
    </p>
  
    <p>
      <span class="large">
        Mailing and Street Address:<br>
        <span class="strong">
          2478 Charlestown Road<br>
          Phoenixville, PA  19460 
        </span>
      </span>
    </p>
  
  </div>
</div>
