<div id="consignment_content" class="content">
  <div class="content_main">
    <h1>Consignment Sale</h1>
    <p>
      <span class="strong">Items</span><br />
      <ul>
        <li>Click <a href="#about_cph_sale" class="local_link">here</a> for a list of items we accept/don't accept.</li>
      </ul>
    </p>
    <p>
      <span class="strong">Consignment Fee</span>
      <ul>
        <li>There will be a $5.00 fee for all consigners. This is due when you deliver your items and register at the desk.  We reserve the right to charge a higher consignment fee for an extremely large quantity of items.</li>
        <li>DO NOT LEAVE ITEMS AT SALE WITHOUT HAVING THEM CHECKED BY A SALE COMMITTEE MEMBER.</li>
        <li>PLEASE CHECK AT FRONT DESK BEFORE BRINGING IN ANY LARGE ITEMS TO BE SURE WE HAVE SPACE.</li>
      </ul>
    </p>
  
    <p>
      <span class="strong">Presentation of Items</span>
      <ul>
        <li>When you deliver your clothing it must be on hangers and sorted by size and category. DO NOT put slacks and skirts on hangers unless they are part of a suit. Please put children’s clothing on hangers, too. All items must be in style, in season, and clean. (i.e. No summer clothing at fall Sale)</li>
      </ul>
    </p>
  
    <p>
      <span class="strong">Limits Per Sale</span><br>
      Due to limited space and help, it is necessary to set the following limits:
      <ul>
        <li>Consigners may bring in <span class="underline">12 total pieces of women’s clothing</span> made up of the following: women’s pants, women’s sweaters, women’s dresses/suits, women’s skirts, women’s tops/blouses, women’s blazers/jackets/coats.  All teen clothing is considered adult.</li>
        <li>WE RESERVE THE RIGHT TO LIMIT THE QUANTITY OF ANY ITEMS, IF SPACE IS NOT AVAILABLE.</li>
      </ul>
    </p>
  
    <p>
      <span class="strong">Pricing</span>
      <ul>
        <li>PRICE YOUR ITEMS TO SELL!!</li>
        <li>Prices must be in multiples of 25¢. For example:.25, .50, .75, etc.</li>
        <li> DO NOT USE 9's (as in .39, .79, etc.).  Prices have to begin at 25¢.</li>
        <li> Think reasonable pricing - you do want your items to sell! Think what you would pay for the item!!!</li>
      </ul>
    </p>
  
    <p>
      <span class="strong">TAGGING</span><br>
      <span class="strong note">(NO EXCEPTIONS WILL BE MADE)</span><br>
  BEFORE REGISTERING TAGS MUST BE CHECKED BY A MEMBER OF THE SALE COMMITTEE 
  For your protection, we ONLY accept items that are tagged in the following manner:
      <ul>
        <li>All items must be tagged prior to arrival at the Sale.</li>
        <li>CD's and DVD cases must be taped shut using clear tape. Tags must be taped to the case using clear tape. Do not use masking tape.</li>
        <li>You MUST use string tags with the tag portion at least 1-1/2 inches long. You may make or buy them. If you make them, the tag must be made out of heavy paper, not cardboard. Tie strings as short as possible when attaching to items. Use Post-its ONLY on books, magazines, videos, DVDs and cassettes.</li>
        <li>Each item must have a tag. The tag must be on the item, not on hanger, bag or container. For two-piece items put a tag on each piece, BUT list the price on only one tag. DO NOT USE MASKING TAPE TO TAG CLOTHING. Clear packing tape can be used to attach your tags to hard items.</li>
        <li>NO staples or straight pins. Safety pins only. NO duct tape or scotch tape to secure tags!</li>
        <li>The tag must have BOTH your first and last names. NO CODE NAMES OR INITIALS. Name and price on both sides is helpful. Put a SPECIAL personalized mark on BOTH sides of each tag and on post-it notes used on books and magazines.  Be creative - you can use a stamp or draw this special mark yourself. *FOR YOUR PROTECTION, YOU MUST PUT A DESCRIPTION OF THE ITEM ON THE TAG GIVING SIZE, COLOR, SEX, AND BRAND NAME if applicable.</li>
        <li>DO NOT MAKE THE STRINGS TOO LONG, THEY TANGLE, ESPECIALLY ON JEWELRY.</li>
        <li>No jewelry in plastic bags.</li>
        <li>Items with many pieces, such as games, toys or puzzles should be boxed or in a CLEAR plastic bag and securely tied with tag on outside.</li>
        <li>Items in a box must have a tag on the item itself (not on the box).</li>
        <li>Linens and curtains: Items must be on hangers with measurements indicated on the tag. The tag MUST be pinned on the item, NOT on the hanger. Linen sets must be pinned together. Baby linens must be on hangers, also.</li>
        <li>BOOKS and magazines MUST have a Post-it Note on the inside page of the front cover - no other label will be accepted (do not put tape on post-its). Mark each book and magazine individually. No stained or mildewed books will be accepted.</li>
        <li>Neckties and belts are to be priced individually.</li>
      </ul>
    </p>
  
    <p>
  If you wish to change the price on an item after it has been consigned, YOU MUST USE A NEW TAG. -- PRICE CHANGES ON TAGS WILL NOT BE HONORED -- NO WHITE-OUT!
    </p>
  </div>
</div>
