<div id="cooperative_content" class="content">
  <div class="content_main">
    <h1>What Is A Cooperative</h1>
    <p>
  Charlestown Playhouse is a cooperative in the sense that mothers and fathers, by pooling their skills and labor, work together to create a better school for their children.  All policy decisions are made by a board of directors composed of current and former parents, teachers and community members.
    </p>
  
    <p>
  All families are asked to contribute a certain amount of time to the school.  Four major advantages result from this cooperative system:
      <ol>
        <li>A reasonable tuition.</li>
        <li>A low child-to-adult ratio in each room.  Due to the presence of parent helpers in every classroom, it is possible for the teachers to vary and individualize their programs, giving the children more creative experiences.  This wouldn't be possible if the teachers were alone with a group of 15 to 20 preschoolers.</li>
        <li>The third advantage is more subtle.  Through the years, the Playschool staff has come to believe that parents, by coming once a week to work with a group of preschoolers, learn valuable lessons which they can then apply at home.  Wise methods of handling little children are best taught by example and in the relaxed atmosphere of Playschool.  Parents gain new insights into the needs and characteristics of all children.  For years now, parents have been telling us how much their mornings at Playschool have helped them in their daily lives - and we hope that it will always be so.</li>
        <li>We also hope that your child will learn a sense of community and the value of volunteering by watching their parents at Playschool.</li>
      </ol>
    </p>
  </div>
</div>
