<div id="curriculum_content" class="content">
  <div class="content_main">
    <h1>Our Curriculum</h1>
    <p class="quote">
      &ldquo;Correction does much, but encouragement does more.&rdquo;
    </p>
    <p class="quote_creds creds_who">Johann Wolfgang von Goethe</p>
  
    <p>
  The curriculum of Charlestown Playhouse is based on the belief that children learn through play. Our curriculum integrates the developmentally appropriate framework of the Creative Curriculum (Trister-Dodge, 2007) as well as the guiding principles of the “Position Statement on Play” from the National Association for the Education of Young Children (NAEYC, 2009), into the core of an emergent curriculum.
    </p>
  
    <p>
  Our teachers then implement both an emergent curriculum, taking ideas and current interests directly from the children and providing activities which explore these emerging themes and subjects, and a thematic curriculum which includes activities that the teachers recognize as interesting and engaging to children. Hands-on activities with real materials and child-initiated activities are encouraged and supported by the teachers. Activities are open-ended: children work at their own pace and learn in the manner in which they are best suited. Active play is balanced with quiet play; routines are balanced with new experiences.
    </p>
  
    <p>
  The curriculum includes daily activities in the areas of language, art, dramatic play, music, science, and math, which are designed to foster growth and creativity within each child in many areas of development such as:
      <ul>
        <li><span class="strong">Emotional:</span> The staff helps children understand their emotions and find acceptable ways to express them. The staff is skilled in positive discipline techniques and appropriate limit setting.</li>
        <li><span class="strong">Social:</span> Inter-personal skills are learned by resolving conflicts in positive and constructive ways through problem solving and communication, and by making friends with children of diverse backgrounds so that they become confident and capable individuals who respect others and embrace differences.</li>
        <li><span class="strong">Cognitive:</span> The staff uses a variety of engaging activities so that the children become excited and confident learners in literacy (reading and writing readiness), pre-math, science, the creative arts and all areas of the curriculum.</li>
        <li><span class="strong">Physical:</span> Our program helps build healthy bodies and encourages the development of physical skills, a love of outdoors, and a sense of wonder and respect for nature. Large motor proficiency is acquired from climbing, running, and biking.  Small motor dexterity is developed with the use of puzzles, manipulatives, and the expressive arts (drawing, painting, gluing, etc.). </li>
        <li>The curriculum is age appropriate, recognizing the predictable sequence of growth and development of young children, respecting the way children think, feel and interact and acknowledging each child’s unique abilities.</li>
      </ul>
    </p>
  
    <p>
  The children are given opportunities to develop their social and emotional skills through imaginative play, role-play, group activities, and interactive participation. Circle/group time and a variety of activity centers stimulate cognitive development and incorporate various developmental skills through the use of art medium, natural resources, stories, and music.
    </p>
  
    <p>
  All of our classes learn through physical play and an abundance of experiential activities which weave meaning into learning.  Every classroom has equipment for developing gross motor skills as well as a variety of materials for stimulating fine motor development.  Each day is a different adventure that nourishes language and cognitive development through cooperative play, arts and crafts, stories, music, and a variety of activities that provide the children the opportunity for having fun and making friends in a nurturing environment. Curiosity is enhanced through science and discovery activities and through field trips throughout the year (depending on the age level).
    </p>
  </div>
</div>
