<div id="directions_content" class="content">
  <div class="content_main">
    <h1>Directions To Sale</h1>
    <p>
  <span class="strong">From Malvern:</span>Follow Route 29 North to left at light at Pothouse Road (Phoenixville). Follow Pothouse Road to Rt. 113(second light), left onto Route 113 to Kimberton Fairgrounds, Firehouse Lane on right.
    </p>
  
    <p>
  <span class="strong note">For directions from other areas please visit </span><a href="http://www.kimbertonfire.org">www.kimbertonfire.org</a>
    </p>
  </div>
</div>
