<div id="donations_content" class="content">
  <div class="content_main">
    <h1>Donations</h1>
    <p class="quote">
      &ldquo;If our American way of life fails the child, it fails us all.&rdquo;
    </p>
    <p class="quote_creds creds_who">Pearl S. Buck</p>
  
    <p>
  It is through the generosity of our community of alumni, friends and neighbors that we are able to continue the vision of our founder, Elizabeth Stonorov (Miss Betty), of a cooperative preschool community that offers a nurturing and engaging program for children.
    </p>
  
    <p>
  Every gift to Charlestown Playhouse makes a profound difference to the school. It not only helps support the improvement of our facilities and programs, but reminds us how important Playschool is to those whose lives are impacted by our work.
    </p>
  
    <p>
      <span class="strong">Donors may make a tax-deductible gift today any of the following ways:</span>
      <ul>
        <li>Make a secure donation online to Charlestown Playhouse through JustGive.org by clicking here:
          <a href="http://www.justgive.org/nonprofits/donate.jsp?ein=23-6000825"> 
            <img src="http://www.justgive.org/images/donate_now170x65.jpg" class="clickable"> 
          </a> 
        </li>
  
        <li>Send a check, made out to “Charlestown Playhouse”, to:
          <div class="address_block">
            Charlestown Playhouse<br>
            2478 Charlestown Road<br>
            Phoenixville, PA  19460
          </div>
        </li>
        <li>Make the most of a corporate matching gift program. Many corporations will match contributions to non-profit organizations. If yours does, contact your employer for the appropriate paperwork so that your donation makes an even larger impact.</li>
        <li><a href="http://www.newpa.com/find-and-apply-for-funding/funding-and-program-finder/educational-improvement-tax-credit-program-eitc">Participate in the Educational Improvement Tax Credit program (EITC).</a> The EITC program provides tax credits to eligible businesses who contribute to schools that qualify. Charlestown Playhouse uses these contributions to provide tuition assistance in the form of scholarships to eligible students. Tax credits may be applied against the tax liability of a business for the tax year in which the contribution was made.</li>
        <li>Call the school office at <span class="inline-strong">610-933-2762</span></li>
      </ul>
    </p>
  
    <p>
  Charlestown Playhouse, Inc is a 501(C)3 non-profit organization; all donations are tax deductible. Donors will be mailed a letter for their tax records.
    </p>
  
    <p>
  We gratefully thank you for your support!
    </p>
  </div>
</div>
