<div id="drivearound_content" class="content">
  <div class="content_main">
    <p><%= image_tag "drive_around_safe.png", :alt => 'drive around safe', :class => 'centered' %></p>
    <p>
    The goal of <strong>Drive Around Safe and Sound: The Charlestown Playhouse Initiative for Child and Commuter Safety</strong> is to create a new, safer drop-off area for children at Charlestown Playhouse and a safer driving experience on Charlestown Road for all community members and commuters during the twice-daily drop off and pick up time periods at the school.
    </p>

    <p>
    At the end of 2012, the Pennsylvania Turnpike opened a new entrance less than 2.5 miles from our school. This created a dramatic increase in commuter traffic, which accompanied by the coming expansion of Route 202, has created a projected outcome by PennDOT of up to a 100% increase of commuter traffic on Charlestown Road.  As a result, the school's current parking and drop off areas have become increasingly hazardous, especially in severe weather.
    </p>

    <p>
      <strong>What can you do to support the Drive Around Safe and Sound Initiative</strong>
      <ul>
        <li>Make a <a href="#donations" class="local_link">tax-deductible donation.</a> Drive Around Safe and Sound is the key focus of all strategic planning and fundraising beyond basic operating expenses for 2014.</li>
        <li><a href="#contact" class="local_link">Contact us about other kinds of community support.</a> Make an in-kind donation or notify us if you know a company that may donate materials, have expertise in construction, marketing or development. Every volunteer in this capacity keeps our administrative costs at a minimum so that all money raised goes directly to construction.</li>
      </ul>
    </p>
    <p>
      It is not often that we get to make such a big difference in our surroundings. Let’s create a new drop-off and parking area that we can tell our kids we helped create as a community and will sustain the Playschool for another 75 years!
    </p>

    <p><strong>Learn about the progress of this initiative</strong></p>
    <p>
      This capital campaign represents the biggest undertaking Playschool has ever taken in its 75-year history. The work began in 2011 and continues. <strong>Our goal is to have the project completed in time for the first day of school, September 15, 2014.</strong>
    </p>

    <p>2014</p>
    <ul>
      <li>The architectural plans were approved by the Charlestown Board of Supervisors in February.</li>
      <li>Parent volunteers have researched and submitted several grant applications.</li>
      <li>Parent volunteers began planning in support of Charlestown Community Day on October 4th, where Playschool will be the beneficiary of sponsorships and runner registrations for the 5K race.</li>
      <li>The Board has received bids by outside contractors for the construction project.</li>
      <li>The Board is investigating financing options from local banks.</li>
    </ul>

    <p>2013:</p>
    <ul>
      <li>Playschool Board began to inform the entire Playschool community</li>
      <li>At the Spring 2013 Auction, “Launch A Cause” raised $15,000 from families, staff, supporters and 100% Board participation, enabling Playschool to pay for the initial phase: permitting fees, PennDOT Studies, escrow fees and engineering fees.</li>
    </ul>

    <p>2011-2012:</p>
    <ul>
      <li>Parent volunteers researched feasibility, created an initial engineering plan, and engaged a consultant. Thousands of dollars of in-kind work went into the research and design.</li>
    </ul>

  </div>
</div>
