<div id="email_goodbye_content" class="content">
  <div class="content_main">
    <h1>Sale Email List</h1>
    <p>
      You will no longer receive emails from Charlestown Playhouse.  Thank you
      for being involved!
    </p>
  
    <p>
  Charlestown Playhouse is committed to protecting the privacy and security of your personal information and email adddress. Email addresses will only be used to publish Charlestown Sale announcements. Personal information and email addresses will not be sold, rented or shared with 3rd parties.
    </p>
  </div>
</div>
