<div id="email_subscribe_content" class="content">
  <div class="content_main">
    <h1>Sale Email List</h1>
    <p>
      Thank you for signing up!  You should receive a confirmation email with
      a confirmation link in it shortly.  Once you've received the email, just
      follow the directions to complete your sign up!
    </p>
  
    <p>
  Charlestown Playhouse is committed to protecting the privacy and security of your personal information and email adddress. Email addresses will only be used to publish Charlestown Sale announcements. Personal information and email addresses will not be sold, rented or shared with 3rd parties.
    </p>
  </div>
</div>
