<div id="enrollment_overview_content" class="content">
  <div class="content_main">
    <h1>Enrollment Overview</h1>
    <p>
      <span class="strong">ADMISSIONS</span><br>
      The following criteria are used to determine which children we admit to the school:
      <ol>
        <li><span class="inline_strong">Age:</span> Under current Pennsylvania regulations, the minimum age for admission into nursery school may not be less than 2 years 7 months before the first day of school. </li>
        <li><span class="inline_strong">Previous enrollment of a family member:</span>  Preference is given to siblings or children of current or former Playschool families; otherwise, the applications are reviewed in the order in which they were submitted.</li>
        <li><span class="inline_strong">Application Date:</span>  Applications are accepted at any time throughout the year for the current or future years. Children are admitted on a first-come, first served basis, based on the original date of application (except for siblings of alumni).  Once all openings are filled, any remaining applications are placed on a waiting list.  Applicants on the waiting list are offered enrollment in the program as space becomes available.</li>
      </ol>
    </p>
    <p>
      Notification of admittance into Charlestown Playhouse is typically via US mail.
    </p>
  
    <p>
      Returning families must submit a non-refundable tuition deposit of $100 by March 31st in order to hold a space for their child for the upcoming school year.
    </p>
  
    <p>
      <span class="strong">ENROLLMENT</span><br>
      A signed acceptance and a non-refundable tuition deposit of $100 must be received within 14 days of the written notification of admission in order for the space to be held. This tuition deposit will be credited toward your final tuition payment. If the tuition deposit is not received within 14 days, the offer for enrollment is withdrawn and the space is offered to a child on the waiting list. 
    </p>
  
  </div>
</div>
