<div id="family_involvement_content" class="content">
  <div class="content_main">
    <h1>Family Envolvement</h1>
    <p class="quote">
      &ldquo;Anyone who does anything to help a child in his life is a hero to me.&rdquo;
    </p>
    <p class="quote_creds creds_who">Fred Rogers</p>
  
    <p>
  As a parent-cooperative, family involvement is integral to our program and the operation of our school. Volunteering is an important way for families to feel a part of our community. The volunteer opportunities are flexible enough to meet the skills and schedules of all our families and include:
      <ul>
        <li>Attendance at an orientation meeting </li>
        <li>Attendance at two work parties (one in spring, one in fall) or providing the equivalent in time spent on other maintenance projects throughout the school year to maintain our building and grounds.</li>
        <li>Participation in fundraising events; all fundraising projects are planned, organized, and carried out by the families (Holiday Bazaar, Auction Dinner, etc.)  </li>
        <li>Participation in the Charlestown Sale (a bi-annual sale held in the spring and fall)</li>
        <li>Participation as a classroom helper one day per week (1 per family) or paying for a substitute helper in the case of working parents</li>
      </ul>
    </p>
  
    <p>   
  Charlestown Playhouse is a community forming experience that encourages and empowers every family to be involved in their children’s education.  Families have the option of ‘buying out’ of a portion of the cooperative requirements when necessary due to schedule conflicts.  Parents are encouraged to contribute special skills or talents in other areas as well such as music, photography, technology, etc.
    </p>
  </div>
</div>
