<div id="faq_content" class="content">
  <div class="content_main">
    <h1>Frequently Asked Questions</h1>
    <p>
      <span class="strong">A play-based curriculum seems so unstructured - is there any stucture?</span><br>
      <p class="deep">We make a distinction between structure and control. We "structure" the environment and the children control how/when/where they play.</p>
    </p>
  
    <p>
      <span class="strong">Do you teach phonics, numbers or the ABCs?</span><br>
      <p class="deep">
  We don't drill the children and there are no worksheets. Our days are full of rhymes, chants, language, and conversation. To sit children down and "teach" language and math takes those things out of the context of everyday life and it is not how young children learn.  Children learn, and retain more of what they have learned, by doing. A Dutch study showed that only 7% of what you convey using verbal communication sticks. (Hannah de Vos-Beckers, Director of Aventurijn)
      </p>
    </p>
  
    <p>
      <span class="strong">Do you teach the children to read?</span><br>
      <p class="deep">
      What has to come first before a child learns to read, is having experiences to attach words to and pictures on the walls of their mind. “Teaching” young children to read is an example of how some educators tend to get things in the wrong order.
      </p>
    </p>
  
    <p>
      <span class="strong">What about discipline? Do you use "time-outs?"</span><br>
      <p class="deep">We believe that the best discipline is self-discipline.
        When children are in conflict, we:
        <ul>
          <li>interrupt any unsafe situation</li>
          <li>focus on helping the victim (vs. simply punishing the perpetrator)</li>
          <li>help the perpetrator to learn socially acceptable responses to conflict</li>
          <li>redirect when necessary, allow natural consequences to develop</li>
          <li>move on without humiliating the children</li>
          <li>recognize that self-regulation is a long process and that growth happens bit by bit</li>
        </ul>
      </p>
    </p>
  
    <p>
      <span class="strong">How do the children do when they go on to first grade?</span><br>
      <p class="deep">Children leave our program with a greater self confidence, better critical thinking skills, and more advanced social skills than those from other kindergarten programs.  Stop for a moment and think of all the things your child has learned to do all on their own: talk, walk, feed themselves, dress themselves, wash.  Parents and some educators seem to stress over children being able to sit, for instance, when they reach first grade. You have to decide if that's really what you want for your child to do or whether it is your belief that where your child is right now developmentally is truly how they learn best.
      </p>
    </p>
  
    <p>
      <span class="strong">What do I do with my younger child on my Helper Day?</span>
      <p class="deep">Families who have younger children who are not yet eligible to attend Playschool may choose to participate in Shared Care with other families.  Shared Care is coordinated by families working together to care for each other’s children at home so that parents are free to help in a classroom once a week.  The caregivers receive the same co-op credit for remaining at home caring for other children as if they were helping in a classroom.  Some families alternate between helping at Playschool and caring for the younger children.  Playschool provides contact information to families interested in sharing care of their younger children.
      </p>
    </p>
  </div>
</div>
