<a href="http://www.cphsale.com"><%= image_tag "bottom_banner.jpg" %></a>

<div id="amazon_footer">
  <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=charlplayh-20&o=1&p=48&l=ur1&category=amazonhomepage&f=ifr"  width="828" height="90" scrolling="no" border="0" marginwidth="0"  style="border:none;" frameborder="0"></iframe>
  <%= render "amazon_legal" %>
</div>

<div id="footer">

  <div id="footer_link_list">
     <a href="#welcome" class="local_link">Welcome</a> |
     <a href="#about_our_school" class="local_link">About Our School</a> |
     <a href="#history" class="local_link">History</a> |
     <a href="#cooperative" class="local_link">What is a Cooperative</a> |
     <a href="#family_involvement" class="local_link">Family Involvement</a> |
     <a href="#philosophy" class="local_link">Educational Philosophy</a> |
     <a href="#curriculum" class="local_link">Our Curriculum</a> |
     <a href="#classes" class="local_link">Our Classes</a> |
     <a href="#staff" class="local_link">Our Staff</a> |
     <a href="#calendar" class="local_link">School Calendar</a> |
     <a href="#faq" class="local_link">faq</a> |
     <a href="#enrollment_overview" class="local_link">Enrollment Overview</a> |
     <a href="/images/application/CharlesTownPlayhouse_Application_2009.pdf" class="local_link">Application Form</a> |
     <a href="#tuition" class="local_link">Tuition</a> |
     <a href="#donations" class="local_link">Donations</a> |
     <a href="#fundraising" class="local_link">Fundraising</a> |
     <a href="#merchandise" class="local_link">Merchandise</a> |
     <a href="http://www.cphsale.com" class="external_link">About Charlestown Sale</a> |
     <a href="#salelist" class="local_link">Sale Email List</a> |
     <a href="#contact" class="local_link">Contact</a> |
     <a href="http://cpleague.org/">Parent Login</a>
  </div>

  <div id="footer_address">
    Charlestown Playhouse<br>
    2478 Charlestown Road<br>
    Phoenixville, PA 19460<br>
    610-933-2762
  </div>

  <div id="footer_legal">
    &copy; 2010 Charlestown Playhouse All Rights Reserved.
  </div>

  <div id="footer_non_descrim_policy">
    <p><span class="strong">NON-DISCRIMINATION POLICY</span><br>
Charlestown Playhouse, Inc. does not discriminate on the basis of race, color,  
religion, national origin, gender, sexual orientation, age, or disability in    
admission or access to, or treatment in or employment in, its educational       
programs or activities.
    </p>
  </div>
</div>
