<div id="fundraising_content" class="content">
  <div class="content_main">
    <h1>Fundraising</h1>
    <p class="quote">
      &ldquo;A room without books is like a body without a soul.&rdquo;
    </p>
    <p class="quote_creds creds_who">G. K. Chesterton</p>
  
    <p>
  Charlestown Playhouse League (our Parent/Teacher/Alumni group) sponsors a variety of fundraisers each year, a Holiday Bazaar in the fall, an Auction Dinner in the spring, a Book Fair in the spring, and additional product fundraisers throughout the year. Please visit our <a href="#calendar">calendar</a> page for the dates for these events, and please <a href="#contact">contact us</a> for information regarding product sales.
    </p>
  </div>
</div>
