<div id="history_content" class="content">
  <div class="content_main">
    <h1>History</h1>
    <p class="quote">
      &ldquo;The landscape of childhood is the one that remains in your soul.&rdquo;
    </p>
    <p class="quote_creds creds_who">Anonymous</p>
  
    <p>
    Charlestown Playhouse was founded in 1936 by Elizabeth Foster Stonorov, fondly known as “Miss Betty”.  Miss Betty was educated at the Bank Street School in New York in the 1930s which formed the foundation for her knowledge of early childhood education.  When Miss Betty decided to start her own school she wanted it to be a community where everyone worked together and supported each other.  Charlestown Playschool was a “village” many years before that ever became a buzz word. From the beginning, Miss Betty attracted creative experts in the field of young children’s education.  People were drawn to her and her program.
    </p>
  
    <p>
  Our school has a rich history and the co-operative aspect of our program is our founder’s legacy.  A parent from each family is asked to help in one of the classrooms one day per week throughout the school year (although other options are available) and all families are asked to help in other ways throughout the year as well (property maintenance, fund raising events, etc.).  The additional parent helpers provide us with higher quality adult-child ratios than required by the state (each of our classrooms typically has 4 adults present daily) which enables our teachers to provide a rich hands-on learning environment with a focus on child-centered activities and individual attention to all learning.  This parent involvement contributes greatly to a strong sense of community among our families and staff. In this warm and supportive community, families as well as the children thrive, and friendships made among parents often remain beyond the preschool years of their children.  Many of our alumni return to share the school with their own children and to develop and refine their own parenting skills.
    </p>
  
    <p><a href="#family_involvement" class="local_link">Learn more...</a></p>
  </div>
</div>
