<div id="merchandise_content" class="content">
  <div class="content_main">
    <h1>Merchandise</h1>
    <p>
    Please <a href="#contact" class="local_link">contact us</a> for pricing and ordering information.
    </p>
  
    <p>
      <div class="item_row">
        <div class="item_box">
          <img src="/images/merchandise/merchandise0003.jpg">
          <div class="item_description">
            <span class="item_header">Miss Betty's Jeep & Other Songs for Kids CD</span>
            Created by Eric, Zak & Lynn Miller.  Contains the hit single "Miss Betty's Jeep" (beep beep beep!)
          </div>
        </div>
        <div class="item_box">
          <img src="/images/merchandise/merchandise0002.jpg">
          <div class="item_description">
            <span class="item_header">Playschool Notecards / Postcards. (10 per box)</span>
            These Cards are printed on high quality note stock, are blank inside, and include envelopes.  Please specify notecards or post cards when you order.
          </div>
        </div>
      </div>
  
      <div class="item_row">
        <div class="item_box">
          <img src="/images/merchandise/merchandise0005.jpg">
          <div class="item_description">
            <span class="item_header">Playschool Wooden Keepsake</span>
            9" x 3 1/2" x 3/4" Makes a great present!
          </div>
        </div>
        <div class="item_box">
          <img src="/images/merchandise/merchandise0012.jpg">
          <div class="item_description">
            <span class="item_header">Playschool Prints</span>
            (11"x15")
          </div>
        </div>
      </div>
  
      <div class="item_row">
        <div class="item_box">
          <img src="/images/merchandise/merchandise0006.jpg">
          <div class="item_description">
            <span class="item_header">Playschool T-Shirt</span>
              6 oz. 100% cotton pre-shrunk Sizes: Youth or Adult S,M,L
          </div>
        </div>
        <div class="item_box">
          <img src="/images/merchandise/merchandise0008.jpg">
          <div class="item_description">
            <span class="item_header">Polo Style Shirts (two button)</span>
            100% cotton shirts by IZOD Sizes:Youth S,M,L and Adult S,M,L,XL,XXL Colors: White with Blue Logo or Blue with White Logo
          </div>
        </div>
      </div>
  
      <div class="item_row">
        <div class="item_box">
          <img src="/images/merchandise/merchandise0011.jpg">
          <div class="item_description">
            <span class="item_header">Playschool Sweatshirt</span>
            9.5 oz 50/50 Cotton/Poly (warm, cozy blend that resists stains) Sizes: Youth and Adult S,M,L
          </div>
        </div>
        <div class="item_box">
        </div>
      </div>
    </p>
  </div>
</div>
