<div id="mission_statement_content" class="content">
  <div class="content_main">
    <h1>Mission Statement</h1>
    <p>
      The mission of Charlestown Playhouse, Inc. is to provide an accessible,
      safe, and nurturing play-based early childhood program. Our goal is to
      support both children and their families through their participation
      in our diverse community.
    </p>
  </div>
</div>
