<div id="philosophy_content" class="content">
  <div class="content_main">
    <h1>Educational Philosophy</h1>
    <p class="quote">
      &ldquo;Play is the work of children&rdquo;
    </p>
    <p class="quote_creds creds_who">Friedrich Fröbel</p>
  
    <p class="large">
    The focus of Charlestown Playhouse is learning through play, both indoors and outdoors, with an approach that promotes a positive self-concept.
    </p>
  
    <p>
  Our goal is to lay the foundation for the inner strength and resilience necessary for each child to meet the demands of his or her world. We actively acknowledge each child’s need for love and respect.  To believe in themselves, children need to feel that the adults around them believe in them as separate individuals with a right to form their own opinions, express their own desires and make their own mistakes.
    </p>
  
    <p>
  Children are given the time and encouragement to do things for themselves and thus gain confidence in themselves and their abilities.  A relaxed and supportive atmosphere provides security.  Children discover who they are and learn to express their creativity while developing patterns of behavior that are socially acceptable to peers and adults.
    </p>
  
    <p>
  The teachers at Playschool implement this philosophy by respecting each child’s individuality and providing an environment which fosters the imaginative play that enables children to try out different roles, act out inner feelings and have new experiences in an atmosphere of safety and acceptance in a way that respects each child's individuality and interests.
    </p>
  
    <p><a href="#curriculum" class="local_link">Learn More...</a></p>
  </div>
</div>
