<div id="sale_calendar_content" class="content">
  <div class="content_main">
    <h1>Sale Calendar</h1>
    <p class="sale_calendar">
      <p class="block_heading">
          <span class="strong">Charlestown Playhouse Sale</span><br>
          Kimberton Fire Company and Fairgrounds<br>
          Rt. 113 and Firehouse Lane, Kimberton
      </p>

      <div class="inner_info_box rounded">
        <p class="block_heading">
          <span class="stronger">SPECIAL ONE-DAY EARLY BIRD SALE</span></span><br>
          <span class="strong">Wed. Oct 16th, from 9:30 - 4, OPEN TO THE PUBLIC!!</span>
        </p>
        <p>
        This Special One-Day Sale prior to our regular Opening Day will include a wide variety of merchandise and shoppers will have an opportunity to get some great deals before the big crowds come on Saturday for the regular Opening Day!
        </p>
      </div>
  
      <p class="block_heading">
        <span class="strong">Spring Sale 2016 Dates & Times</span>
      </p>
  
      <table class="cal_table"> 
        <tr class="day_row">
          <th colspan="7"><div>October 2013</div></th>
        </tr>
        <tr class="day_row"> 
          <th>Sunday</th> 
          <th>Monday</th> 
          <th>Tuesday</th> 
          <th>Wednesday</th> 
          <th>Thursday</th> 
          <th>Friday</th> 
          <th>Saturday</th> 
        </tr> 
        <tr class="date_row">
          <td>13</td>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
        </tr>
        <tr class="info_row"> 
          <td></td> 
          <td></td> 
          <td></td> 
          <td><span>EARLY BIRD SALE (open to public)</span><div>9:30am - 4pm<br>(NO Strollers before Noon)</div></td>
          <td><span>Consignor's Take In</span><div>9:30am - 5pm</div></td> 
          <td><span>Closed</span></td> 
          <td><span>Opening Day</span><div>9:30am-6pm<br>(NO Strollers before Noon)</div></td> 
        </tr> 
        <tr class="date_row">
          <td>20</td>
          <td>21</td>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
        </tr>
        <tr class="info_row"> 
          <td><span>Sale</span><div>10am - 4pm</div></td> 
          <td><span>Sale</span><div>9:30am - 4pm</div></td> 
          <td><span>Sale</span><div>9:30am - 8pm</div></td> 
          <td><span>Last Day of Regular Sale</span><div>9:30am - 4pm</div></td> 
          <td><span>Closed</span></td> 
          <td><span>Closed</span><div>9:00am - 2pm (Consignor Pay-Off Only)</div></td> 
          <td><span>50/50 Sale</span><div>9:30am - 5pm (NO Strollers before Noon)</div></td>
        </tr> 
        <tr class="date_row">
          <td>27</td>
          <td>28</td>
          <td>29</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="info_row"> 
          <td><span>Bag Sale</span><div>9:30am - 11am</div></td> 
          <td></td> 
          <td></td> 
          <td></td> 
          <td></td> 
          <td></td> 
          <td></td> 
        </tr> 
      </table> 
    </p>

    <p>
      <span>Donations accepted at the School through Oct 9th.</span>
    </p>
  
    <p>
      <span class="strong">NO Strollers before Noon on Early Bird Sale Day, Opening Day, or 50/50 day. Thank you for your cooperation!!</span>
    </p>
  
    <p>
      <span class="strong">Consigner Take-In Day:</span>
      <ul>
        <li>YOU MAY CONSIGN ITEMS <span class="strong">ONLY ON THURSDAY, APRIL 25th</span></li>
        <li>Please check at the front desk for information regarding bringing additional articles.</li>
      </ul>
    </p>
  
    <p>
      <span class="strong">Opening Day:</span>
      <ul>
        <li>NO STROLLERS OR BABY CARRIAGES - FROM 9:30 AM TO NOON ON OPENING DAY</li>
      </ul>
    </p>
  
    <p>
      <span class="strong">Pay-Off Day:</span>
      <ul>
        <li>Nothing will be sold this day. Consigners may come in during these hours for your check and the tags from your sold items, and to pick-up unsold items.</li>
        <li>Any items not claimed by 2:00 pm will be given to our special 50/50 Day Sale, with the entire proceeds going to Charlestown Playhouse.</li>
        <li>Your check can be mailed to you <span class="note">only if you provide a stamped, self-addressed envelope.</span></li>
        <li><span class="strong">NO TAGS WILL BE MAILED</span></li>
      </ul>
    </p>
  
    <p>
      <span class="strong">50/50 Day Sale:</span>
      <ul>
        <li>NO STROLLERS OR BABY CARRIAGES - FROM 9:30 AM TO NOON ON 50/50 Day</li>
        <li>Items costing $5.00 or more will be 50% off</li>
        <li>Items costing $1.00-$4.99 will be .50¢</li>
        <li>Items costing .99¢ or less will be .10¢</li>
      </ul>
    </p>
  
    <p>
      <span class="strong">Bag Sale:</span>
      <ul>
        <li>$5 a bag</li>
      </ul>
    </p>
  </div>
</div>
