<div id="salelist_content" class="content">
  <div class="content_main">
    <h1>Sale Email List</h1>
    <p>
      Sign up for the sale email list to be notified of sale dates, times and other important information.
    </p>
    <p>
      <%= render "email_form" %>
    </p>
  
    <p>
  Charlestown Playhouse is committed to protecting the privacy and security of your personal information and email adddress. Email addresses will only be used to publish Charlestown Sale announcements. Personal information and email addresses will not be sold, rented or shared with 3rd parties.
    </p>
  
  </div>
</div>
