<div id="staff_content" class="content">
  <div class="content_main">
    <h1>Our Staff</h1>
    <p>
      <span class="strong">Our Directors</span>
    </p>
  
    <p>
      <span class="strong">Amy Saia, Ed. D.</span> (Education Director):  Amy is in her <%= @amy_years %> year as an early childhood educator and holds a doctorate in curriculum development and child and youth studies. She is the chair of the education program at Community College of Philadelphia and is an affiliate professor at Drexel University and the University of Pennsylvania where she teaches in the graduate school of education focusing on early literacy education. Amy’s work in early childhood education, specifically in curriculum  development, takes her regionally, statewide, and nationally. Amy is the mother of 5 children.
    </p>
  
    <p>
      <span class="strong">Faith Koons</span> (Administrative Director): Faith is in her <%= @faith_years %> year on the Playschool staff, having taught for 16 years before becoming our Administrative Director, and she attended Playschool as a child herself.  Faith is the mother of 2 grown daughters who also attended Playschool. 
    </p>
    <br>
    <br>
    <p>
      <span class="strong">Our Teachers</span>
    </p>
  
    <p>
  We take pride in the dedication and commitment of our teaching staff.  Several of our staff members have been with Playschool for over <%= @big_years %> years, several for more than <%= @little_years %> years, and one for over 50 years!  Each classroom is staffed with a lead teacher and a co-teacher or teaching assistant and two parent helpers.  The presence of accredited staff, knowledgeable assistants and dedicated parent helpers in each classroom allows Playschool to offer the excellent child/adult ratio (4:1 or 5:1) that makes our unparalleled child-driven curriculum and activities possible.
    </p>
  </div>
</div>
