<div id="tuition_content" class="content">
  <div class="content_main">
    <h1>Tuition</h1>
    <p>
      Tuition for the <%= @tuition_dates %> school year is $<%= @tuition_cost %> per child.
    </p>
  
    <p>
      <span class="strong">PAYMENT OPTIONS</span><br>
  Charlestown Playhouse is a 5-day program.  Children may attend less than 5 days per week although there is no reduction in tuition.  Exceptions to this rule may be made for children who attend prescribed part-time early intervention programs in other locations.
    </p>
  
    <p>
      Charlestown Playhouse offers three tuition payment plan options:
      <ul>
        <li>One annual payment, due August 1st</li>
        <li>Two biannual payments, due August 1st and January 1st</li>
        <li>Enrollment in an automated debit program which includes ten monthly payments, the first payment due August 1st and the last due May 1st which are debited from the checking or savings account of your choice.</li>
      </ul>
    </p>
    <p>
      During the period between January and March the Board of Directors determines the tuition for the following year and returning families are notified of any changes.
    </p>
  
    <p>
      <span class="strong">FINANCIAL AID</span><br>
      Charlestown Playhouse, Inc., through the generosity of current and former members of the school and with funds made available to us through Charlestown Playhouse League (our parent/teacher association) and the Educational Improvement Tax Credit scholarship program (E.I.T.C.), is able to offer need-based assistance to a limited number of eligible families in the form of partial or full tuition scholarships depending on the amount of funds available in a school year.  Financial aid applications are distributed annually to all enrolled families.
    </p>
  </div>
</div>
