<div id="welcome_content" class="content">
  <div class="content_main">
    <div id="welcome_image">
      <%= image_tag "cph_welcome.png" %>
    </div>
    <div id="address_image">
      <%= image_tag "tree_address.png" %>
    </div>
    <p class="large">At Charlestown Playhouse, we believe that it is through play and active involvement with real materials that children learn best about themselves and their world.</p>

    <p>Charlestown Playhouse, founded in 1936, is licensed by the Pennsylvania Department of Education as a private academic preschool and kindergarten.  We are a non-profit, parent-cooperative that emphasizes learning through child-centered play, the importance of supporting social and emotional development in young children, the beauty and value of nature and a strong sense of community.
    </p>
    <p><a href="#about_our_school" class="local_link">Learn More...</a></p>

    <%= image_tag "playground.jpg", :class => 'content_image' %>

    <p class="quote">&ldquo;I feel as though the fabric of my entire adult life has been woven together with Charlestown Playschool.&nbsp; Our children and then our grandchildren were Playschool graduates; I have no doubt that this experience made them more intellectually curious, creative, and caring people.&nbsp; Besides this personal connection, my years as a Playschool parent helper motivated me to pursue a career in early childhood development and education.&nbsp; At Playschool, I became convinced that&mdash;as NAEYC says&mdash;&ldquo;the early years are learning years&rdquo; with unique importance for later development.&nbsp; Later as a graduate student, I found strong research support for Playschool&rsquo;s approach to early childhood education. In my university teaching, writing, and presentations I have often referred to Playschool as a shining example of how to nurture the growth of young children and their families.&rdquo;&nbsp;</p>

    <p class="quote_creds">
      <span class="creds_who">Marilou Hyso, Ph.D.</span><br>
      Consultant, Early Childhood Development and Education<br>
      Adjunct Professor, Graduate School of Education, University of Pennsylvania
    </p>
  </div>
</div>
